*{
    margin: 0px;
    padding: 0px;
}


/* Top Section */
.cover-section
{
    background-image: url(./images/cover.jpg);
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content:left;    

  
}

.cover-div
{

    padding-top: 500px;
    padding-left: 30px;
    padding-right: 10px;

    margin-right:900px ;
    text-align: left;
}




.cover-div h1
{
    font-size: 60px;
    color: white;
}


.cover-div p
{
    font-size: 30px;
    color: white;
}


.cover-div a
{
    color: white;

    font-size: 40px;
}





/* The Lives depends on your donation Section  */
.the-live-depend-on-your-donation
{
    display: flex;
  

    height: 550px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    justify-content: center;
}


.the-live-depend-on-your-donation-div-left
{   
    padding-top: 160px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 10px;
    
}


.the-live-depend-on-your-donation-div-left h1
{
    font-size: 50px;
}

.the-live-depend-on-your-donation-div-left p
{
    font-size: 30px;
}


.the-live-depend-on-your-donation-div-left a

{
    font-size: 40px;
}






.the-live-depend-on-your-donation-div-right
{
   
    margin-left: 10px;

   
}

.the-live-depend-on-your-donation-div-right iframe

{
    border-radius: 10px;
}









/* They need us section */
.they-need-us
{
    display: flex;
  

    height: 550px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    justify-content: center;
}


.they-need-us-right-div
{
    padding-top: 160px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 10px;
}



.they-need-us-left-div img
{
    height: 550px;
    width: 845px ;
    border-radius: 10px;
}



.they-need-us-right-div h1
{
    font-size: 50px;

}

.they-need-us-right-div p
{
    font-size: 30px;
}

.they-need-us-right-div a
{
    font-size: 40px;
}












/* Section-3 */




/* Section-3 Card div */
.section-3-card-div
{
    display: flex;
}



/* Image-3 section */

.image-3
{
    display: flex;
}



/* 3-blog-parent-div */


.section-3-blog-parent-div
{
    display: flex;
}



/* Footer */
footer
{
    background-color: black;
    
}


footer h1
{
color: white;
}



