*{
    margin: 0px;
    padding: 0px;
}




:root
{

    /* For heading Section */
    --heading-size: 4vw;
    --heading-paragraph-size: 1.2vw;

    --common-heading-size:3vw;
    --common-paragraph-size:1.2vw;


    /* For Button Section */
    --button-color:linear-gradient(orange,tomato);
    --button-padding: .7vh 2vw;
    --button-font-size:1.3vw;


    /* box responsive width and height */
    --responsive-box-height: 30vw;
    --responsive-box-width: 35vw;

    
}





/* Top Section */
.cover-section
{
    background-image: url(./images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:60%;
    background-position-x: center;
    display: flex;
    justify-content:left;    

  
}

.cover-div
{

    padding-top: 1000px;
    padding-bottom: 1000px;
    padding-left: 30px;
    padding-right: 10px;
    margin-right:900px ;
    text-align: left;
}




.cover-div h1
{
    font-size: var(--heading-size);
    color: white;
}


.cover-div p
{
    font-size:var(--heading-paragraph-size);
    color: white;
}


.cover-button
{
    color: white;
    display: block;
    position: absolute;
    text-decoration: none;
    
    

    background-image: var(--button-color);
    margin-top: 20px;
    font-weight: bold;
    font-size: var(--button-font-size);
    padding: var(--button-padding);
}





/* The Lives depends on your donation Section  */
.the-live-depend-on-your-donation
{
    display: flex;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
    justify-content: center;

}


.the-live-depend-on-your-donation-div-right iframe
{
    width: var(--responsive-box-width);
    height: var(--responsive-box-height);
}


.the-live-depend-on-your-donation-div-left
{   
    
    width: var(--responsive-box-width);
    height: var(--responsive-box-height);
    padding-top: 300px;
    padding-left: 50px;
    padding-right: 150px;

    
}


.the-live-depend-on-your-donation-div-left h1
{
    font-size: var(--common-heading-size);
}

.the-live-depend-on-your-donation-div-left p
{
    font-size: var(--common-paragraph-size);
}


.the-live-depend-on-your-donation-button

{
    color: white;
    display: block;
    position: absolute;
    text-decoration: none;
    
    

    background-image: var(--button-color);

    margin-top: 20px;
    font-weight: bold;
    font-size: var(--button-font-size);
    padding: var(--button-padding);
}






.the-live-depend-on-your-donation-div-right
{
    
    margin-left: 10px;
    
    
}

.the-live-depend-on-your-donation-div-right iframe

{
    border-radius: 10px;
}






/* They need us section */
.they-need-us
{
    
    display: flex;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
    justify-content: center;
}


.they-need-us-left-div img
{
    height: var(--responsive-box-height);
    width: var(--responsive-box-width);
}


.they-need-us-right-div
{

    width: var(--responsive-box-width);
    height: var(--responsive-box-height);
    padding-top: 300px;
    padding-left: 150px;
    padding-right: 50px;

}


.they-need-us-right-div h1
{
    font-size: var(--common-heading-size);
}


.they-need-us-right-div p
{
    font-size: var(--common-paragraph-size)
}


.Right-donate-button
{   
    position: absolute;
    text-decoration: none;
    font-size: var(--button-font-size);
    background-image: var(--button-color);
    padding: var(--button-padding);
    color: white;
    font-weight: bold;
    margin-top:20px;
}





















/* Section-3 */




/* Section-3 Card div */



.section-3
{
    margin-top: 300px;
    text-align: center;
}


.section-3 h1
{
    font-size: 60px;
}

.section-3 p
{
    font-size: 30px;
}


.section-3-card-div
{   

    margin-top: 100px;
    margin-bottom: 10px;
    justify-content: center;
    padding: 100px;
    height: 700px;
    background-color: red;
}


.section-3-top-div
{
    display: flex;
    justify-content: center;
}


.section-3-bottom-div
{
    display: flex;
    justify-content: center;
}


.section-3-div-1
{
    background-color: greenyellow;
    width: 500px;
    margin: 10px;
    
    height: 300px;
    border-radius: 20px;
}
.section-3-div-2

{
    background-color:orange;
    
    
    margin: 10px;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    
    
    
}

.section-3-div-3
{
    background-color: skyblue;
    
    margin: 10px;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}
.section-3-div-4
{
    background-color: antiquewhite;
    margin: 10px;
    
    width: 500px;
    height: 300px;
    border-radius: 20px;
}


/* Image-3 section */

.image-3-section
{   

    margin: 100px;
    display: flex;
    justify-content: space-around;
}



.image-3-div-1
{

    width: 30%;
}


.image-3-div-2
{
    width: 30%
}


.image-3-div-3
{
    width: 30%;
}


/* 3-blog-parent-div */


.section-3-blog
{
    text-align: center;
}

.section-3-blog h1
{
    font-size: 60px;
}


.section-3-blog p
{
    font-size: 30px;
}


.section-3-blog-parent-div
{   

    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}


.section-3-blog-child-div-1
{
    width: 30%;
}

.section-3-blog-child-div-1 a
{
    font-size: 30px;
}

.section-3-blog-child-div-2
{
    width: 30%;
}


.section-3-blog-child-div-2 a
{
    font-size: 30px;
}
.section-3-blog-child-div-3
{
    width: 30%;
}

.section-3-blog-child-div-3 a
{
    font-size: 30px;
}






/* Footer */
footer
{
    text-align: center;
    background-color: black;
    height: 200px;
    
}


footer h1
{
color: white;
font-size: 40px;
}



